
  <!-- Footer -->
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 border-top text-warning text-center" style="background-color:#019a47;">
      <div class="col mb-6">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="nav-item mb-2 p-5"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.085189223482!2d-3.980958125015943!3d5.403992894575128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc193eeebaf3ccd%3A0xcab51c6151e10c89!2sNazareth%20CORPORATIONS%20Sarl!5e0!3m2!1sfr!2sci!4v1707925189186!5m2!1sfr!2sci" width="270" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div>
        <br>

      </div>

        <ul class="nav flex-column">
          <h5 class="text-uppercase fas fa-phone fw-bold text-warning " ></h5>
          <br> <span class="nav-item mb-2"><a href="#" class="nav-link p-0 text-warning">Contacts</a></span>
         <br> <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">(+225)2722203115</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">(+225)0575989627</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">(+225)0779395897</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Whatsapp</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Liens</a></li>
          <hr class="border 100px text-white">      
          © 2024 Copyright : Nazareth Corporations,<em class="text-white fw-bold ">Concepteur : Ingénieur gatta bi</em> 
        </ul>
      </div>
      
    </footer>  
    <!-- Section: Links  -->
   
    <!-- Copyright -->

  <!-- Footer -->

